body {
    background-image: url(../img/signupBackground.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Nanum Gothic', sans-serif;
  }
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 30%;
    padding: 150px 30px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.938); 
  }

.logo{
    margin: 0;
    display: flex;
    align-items: center;
}

.login{
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 30px 10px 30px;
    border-bottom: 1px solid rgb(161, 161, 161);
}

.login a{
    color: black;
    text-decoration: none;
}

.button{
    display: flex;
    margin-bottom: 10px;
    border: 1px solid rgb(161, 161, 161);
    width: 400px;
    height: 35px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.button:hover,
.button:active{
    background-color: rgba(209, 242, 255, 0.945);
}
.manualLogin a{
    color: black;
    text-decoration: none;
}