body {
  background-image: url(../img/MainBackground.jpg);
  
  
  font-family: 'Nanum Gothic', sans-serif;
}
/* header */
header{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(150, 150, 150);
  font-family: 'Nanum Gothic', sans-serif;
}

.header_inner{
  margin: 0 auto;
  width: 1800px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_left{
  display: flex;
  justify-content: flex-start;
  width: 33.3%;
}
.nav{
  text-decoration: none;
  color: #333;
  font-size: 18px;
  margin-right: 20px;
}
.header_mid{
  display: flex;
  justify-content: center;
  width:33.3%;
}
.logo{
  margin: 0;
  display: flex;
  align-items: center;
}
.logo_text{
  text-decoration: none;
  color: #333;
  font-size: 26px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
}

.header_right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33.3%;
}


/* Body */
.contain{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.task_container{
  display: flex;
  margin: 20px 0px;
  justify-content: center;
}
.day{
  font-weight: bold;
}
.today{
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 20px;
  color: #db44c7;
  font-weight: bold;
}

.day_box {
  /* border: 1px solid #6D6D6D; */
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
  display: flex;
  min-height: 700px;
  margin: 0px 10px 70px 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 300px;
  font-size: 1.2rem;
  padding-top: 10px;
}
/* .day_box p{
  font-weight:bold;
} */
.lecture{
  margin-top: 10px;
  min-height: 300px;
  height: auto;
  text-align: left;
  padding: 16px;
}

.list{
  list-style:square;
}

.list li{
  margin: 8px;
  text-decoration: none;
}
.list li a{
  padding:2px;
  text-decoration: none;
  color: black;
  
}

.border{
  border: 1px solid #6D6D6D;
}
.assignment{
  height: auto;
  margin-top: 10px;
  text-align: left;
  padding: 16px;
}

.today_box{
  border: 3px solid #6D6D6D;
}
.timer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 15px;
  font-family: 'Nanum Gothic', sans-serif;
}
.timer_border{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

.timerBox .time{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #4C4C4C;
  text-align: center;
  font-family: sans-serif;
  margin: 0px 8px;
}

.btnBox{
  margin: 10px;
  text-align: center;
}
.btnBox .fa{
  margin: 0px 5px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.arrows{
  display: flex;
  align-items:center;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.swiper-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.accordion {
  border-radius: 12px;
  background-color: rgb(238, 238, 238);
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
  color: #444;
  cursor: pointer;
  padding: 8px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 20px;
  z-index:5;
}


/* .star {
  background-color:  yellow;

} */
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 18px;
  background-color: white;
  font-weight: 100;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
  border-radius: 12px;
  display: none;
  overflow:auto;
  z-index: 100;
  margin: 0 0 10px 0;
  color: black;
}

.panel > a {
  text-decoration: none;
  color: black;
}

.red{
  /* border:2px solid red; */
  background: rgba(255, 0, 0, 0.623);
  color:white;
  z-index: 100;
}
.red > a{
  text-decoration: none;
  color:white;
  z-index: 100;
}

.green{
  background: rgba(69, 199, 36, 0.61);
  color:white;
  z-index: 100;
}

.green > a{
  text-decoration: none;
  color:white;
  z-index: 100;
}
.orange{
  background: rgba(245, 159, 48, 0.856);
  color:white;
  z-index: 100;
}

.orange > a{
  text-decoration: none;
  color:white;
  z-index: 100;
}
