{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>개강한 대학생</title>
    <link rel="stylesheet" href="{% static 'css/customize.css' %}" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="{% static 'js/stopwatch.js' %}"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--sns아이콘!-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- header -->
    <!-- header -->
    <header>
      <!-- header inner -->
      <div class = "header_inner">
          <!-- header left -->
          <div class = "header_left">
              <!-- logo -->
              <div class = "logo">
                  <a id="studycafe" href="{% url 'studycafe' %}">주변 스터디카페 추천</a>
              </div>
              <!-- end logo -->
          </div>
          <!-- end header left -->
          <div class = "header_mid">
              <div class = "logo">
                  <img src="{% static 'leftarm.png' %}" width="60px">
                  <a href="/lms" title = "home" class = "logo_text">개강한 대학생</a>
                  <img src="{% static 'rightarm.png' %}" width="60px">
              </div>
          </div>
          <!-- header right -->
          <div class = "header_right">
              <a class = "nav" href="{% url 'calendar' %}">출석체크</a>
              <a class = "nav" href="{% url 'mypage' %}">마이페이지</a>
              <a class = "nav" href="{% url 'logout' %}">로그아웃</a>
          </div>
          <!-- end header right -->
      </div>
      <!-- end header inner -->
  </header>

    <!-- 본문 내용 -->
    <div class="contain">
      <div class="content">
        <div class="content_top">
          <div class="title">커스터마이징</div>
        </div>
        <div class="content_bottom">
          <div class="left">
            <div class="inner">
              <div class="chosen_stamp">출석도장</div>
              <div class="text">커스터마이징 해보세요</div>
              <div class="stamps">
                <button>고양이</button>
                <button>거북이</button>
                <button>강아지</button>
              </div>
            </div>
          </div>
          <div class="center">
            <div class="inner">
              <div class="colortheme">
                color Theme
                <div class="color_box"></div>
              </div>
              <div class="colors">
                <button style="background-color: aliceblue; border: none;"></button>
                <button style="background-color: rgb(36, 125, 202); border: none;"></button>
                <button style="background-color: rgb(57, 167, 161); border: none;"></button>
              </div>
              <div class="colors">
                <button style="background-color: rgb(82, 180, 25); border: none;"></button>
                <button style="background-color: rgb(241, 126, 213); border: none;"></button>
                <button style="background-color: rgb(236, 208, 148); border: none;"></button>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="inner">
              <div class="calendar_type">달력형식</div>
              <div class="type_choice">
                <a href="">월요일부터 시작</a>
              </div>
              <div class="type_choice">
                <a href="">일요일부터 시작</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--footer : 병구 담당-->
    <div id="footer" style="background-color: rgba(16, 60, 180, 0.158)">
      <br />
      <div class="container text-center text-md-start mt-5">
        <!-- 소개, 연락, SNS -->
        <div class="row mt-3">
          <!-- 소개 -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">라떼는말이야</h6>
            <hr class="one" />
            <p>
              저희 개강한 대학생은 라떼는말이야 팀이 너무 불편했던
              한국항공대학교 LMS 시스템을 개선해보고자 만든 사이트입니다.
            </p>
          </div>

          <!-- 연락 -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <hr class="one" />
            <p>경기도 고양시 덕양구 한국항공대학교</p>
            <p>Latteishorse@gmail.com</p>
            <p>+ 82 031-****-***</p>
            <p>+ 82 010-****-****</p>
          </div>

          <!-- SNS -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">SNS</h6>
            <hr class="one" />
            <p>
              <a target="_blank" href="https://instagram.com"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
              instagram
            </p>
            <p>
              <a target="_blank" href="https://facebook.com"
                ><i class="fa fa-facebook-official" aria-hidden="true"></i
              ></a>
              facebook
            </p>
            <p>
              <a target="_blank" href="https://twitter.com"
                ><i class="fa fa-twitter-square" aria-hidden="true"></i
              ></a>
              twitter
            </p>
          </div>
        </div>
      </div>
    </div>
    {% block asd %} {% endblock %}
  </body>
</html>