{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>개강한 대학생</title>
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/stopwatch.js' %}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!--sns아이콘!-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"rel="stylesheet"integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet" />
  </head>
  <body>
    <!-- header -->
    <header>
      <!-- header inner -->
      <div class="header_inner">
        <!-- header left -->
        <div class="header_left">
          <!-- logo -->
          <div class="logo">
            <a class="nav" href="/" title="home" class="logo_text">About us</a>
          </div>
          <!-- end logo -->
        </div>
        <!-- end header left -->
        <div class="header_mid">
          <div class="logo">
            <img src="{% static 'leftarm.png' %}" width="60px" />
            <a href="/lms" title="home" class="logo_text">개강한 대학생</a>
            <img src="{% static 'rightarm.png' %}" width="60px" />
          </div>
        </div>
        <!-- header right -->
        <div class="header_right">
          <a class="nav" href="{% url 'calendar' %}">출석체크</a>
          <a class="nav" href="{% url 'mypage' %}">마이페이지</a>
          <a class="nav" href="{% url 'logout' %}">로그아웃</a>
        </div>
        <!-- end header right -->
      </div>
      <!-- end header inner -->
    </header>

    <!-- 본문 내용 -->
    <div class="contain">
      <div class="content">
        <div class="content_top">
          <div class="user">
            
          </div>
        </div>
        <div class="content_bottom">
          <div class="rank_type">
            <div class="rank_text">순위</div>
            <div class="id_nav">아이디</div>
            <div class="time_text">시간</div>
          </div>
          <div class="ranking">

          </div>
        </div>
      </div>
    </div>

    <!--footer : 병구 담당-->
    <div id="footer" style="background-color: rgba(16, 60, 180, 0.158)">
      <br />
      <div class="container text-center text-md-start mt-5">
        <!-- 소개, 연락, SNS -->
        <div class="row mt-3">
          <!-- 소개 -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">라떼는말이야</h6>
            <hr class="one" />
            <p>
              저희 개강한 대학생은 라떼는말이야 팀이 너무 불편했던
              한국항공대학교 LMS 시스템을 개선해보고자 만든 사이트입니다.
            </p>
          </div>

          <!-- 연락 -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <hr class="one" />
            <p>경기도 고양시 덕양구 한국항공대학교</p>
            <p>Latteishorse@gmail.com</p>
            <p>+ 82 031-****-***</p>
            <p>+ 82 010-****-****</p>
          </div>

          <!-- SNS -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">SNS</h6>
            <hr class="one" />
            <p>
              <a target="_blank" href="https://instagram.com"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
              instagram
            </p>
            <p>
              <a target="_blank" href="https://facebook.com"
                ><i class="fa fa-facebook-official" aria-hidden="true"></i
              ></a>
              facebook
            </p>
            <p>
              <a target="_blank" href="https://twitter.com"
                ><i class="fa fa-twitter-square" aria-hidden="true"></i
              ></a>
              twitter
            </p>
          </div>
        </div>
      </div>
    </div>
    {% block asd %} {% endblock %}
  </body>
  <script>
  var user = document.getElementsByClassName("user");
  var mystatistics =[
      {% for statistic in mine %}{
        id: "{{statistic.user}}",
        daily_time: "{{statistic.daily}}",
      },   
      {% endfor %}
  ];

    var taskcontainer = document.getElementsByClassName("ranking");
    var statistics =[
      {% for statistic in all_statistics %}{
          id: "{{statistic.user}}",
          daily_time: "{{statistic.daily}}",
          date_time: "{{statistic.date}}"
      },   
      {% endfor %}
    ];
    var users = new Set();
    for(var i=0 ;i<statistics.length;i++){
      users.add(statistics[i].id);
      console.log(users);
    }
    var totaltime = [];
    for(var i=0; i<users.size; i++){
      totaltime.push(0);
    }
    console.log(totaltime);
    Set.prototype.getByIndex = function(index) { return [...this][index]; }
    for(var i=0; i<users.size; i++){
      for(var j=0; j<statistics.length; j++){
        if(users.getByIndex(i) == statistics[j].id){
          var temp = Number(statistics[j].daily_time);
          if(temp > 0 && temp != NaN)
            totaltime[i] += temp;
          console.log(i," 번째user의 time " ,totaltime[i]);
        }
      }
    }
    const myMap = new Map();
    for(var i=0; i<totaltime.length; i++){
      myMap.set(i,totaltime[i]);
    }
    const mapSort1 = new Map([...myMap.entries()].sort((a, b) => b[1] - a[1]));
    console.log(mapSort1);
    for(let key of mapSort1.keys()) {
      console.log(users.getByIndex(key));
    }

    var ranking = document.getElementsByClassName("ranking");
    var myrank = 0;
    var rank = 1;
      for(let key of mapSort1.keys()) {
        if(users.getByIndex(key) == mystatistics[0].id){
          myrank = rank;
        }
        ranking[0].innerHTML +=
          `<div class="ranks">
            <div class="rank_text">` + rank + `</div>
            <div class="id_text">
              <img
                class="usericon"
                src="{% static 'userimage/dog (1).png'%}"/>
              <p>` + users.getByIndex(key) + `</p>
            </div>
            <div class="time_text">` + parseInt(totaltime[key]/3600) + `시간 ` + parseInt(totaltime[key]/60) + `분 ` + parseInt(totaltime[key]%10) + `초</div>
          </div>
          <div class="line"></div>`
        rank++;
      }


  var mytotal = 0;
  for(var i=0; i<mystatistics.length; i++){
    mytotal+=Number(mystatistics[i].daily_time);
    //
  }
  user[0].innerHTML = 
    `<img class="myicon" src="{% static 'userimage/cat.png'%}" /><div class="userid">` + 'Me' + `</div>
            <div class="rank">`+ myrank +`등!</div>
            <div class="time">` +  parseInt(mytotal/3600) + `시간 ` + parseInt(mytotal/60) + '분 ' +parseInt(mytotal%10) +`초</div>`
            
  </script>
</html>

